extends ../app

block main
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/admin/bouquet") Букеты
            li.breadcrumb-item.active(aria-current="page")
                if bouquet
                    | #{bouquet.title}
                else
                    | Новый букет
    .container-fluid
        form(action="/admin/bouquet/update", method="POST")
            .row
                .col-lg-2
                    if bouquet
                        input(type="hidden", name="id" v-model="bouquet.id")
                    .form-group
                        label(for="title") Название букета
                        input#title.form-control(type="text" name="title" v-model="bouquet.title")
                    .form-group
                        label(for="uri") URI
                        input#uri.form-control(type="text" name="uri" v-model="bouquet.uri")
                .col-lg-2
                    <label>Цветы</label>
                    each flower in flowers
                        .form-check
                            - var checked = false;
                            if bouquet && bouquet.flower
                                - function bouquetChecked (number) { return number.id == flower.id; }
                                if bouquet.flower.some((bouquetChecked))
                                    - checked = true
                            input.form-check-input(type="checkbox", name="flowers", value= flower._id, id= flower._id, checked= checked)
                            label.form-check-label(for= flower._id)= flower.title
                .col-lg-2
                    <label>Цветовая гамма</label>
                    each color in colors
                        .form-check
                            input.form-check-input(type="checkbox", name="colors", value= color._id, id= color._id)
                            label.form-check-label(for= color._id)= color.title
                .col-lg-2
                    <label>Размеры</label>
                    each size in sizes
                        .form-check
                            - var checked = false;
                            if bouquet && bouquet.size
                                - function sizeChecked (number) { return number.id == size.id; }
                                if bouquet.size.some((sizeChecked))
                                    - checked = true
                            input.form-check-input(type="checkbox", name="sizes", value= size._id, id= size._id, checked= checked)
                            label.form-check-label(for= size._id)= size.title
            .row
                .col
                    ul#sizeTab.nav.nav-tabs(role="tablist")
                        li.nav-item(v-for="(size, index) in sizes")
                            a.nav-link(
                                :id="size.id + '-tab'"
                                :href="'#' + size.id"
                                :aria-controls="size.id"
                                :class="{active: sizeTabActive == index}"
                                v-on:click="sizeTabUse(index)"
                            ) {{ size.title }}
                    #sizeTabPane.tab-content
                        .tab-pane(
                            v-for="(size, index) in sizes"
                            :id="size.id"
                            :aria-labelledby="size.id + '-tab'"
                            :class="{show: sizeTabActive == index, active: sizeTabActive == index}"
                        )
                            .form-group
                                label Стоимость
                                input.form-control(
                                    type="text"
                                    name="title"
                                )
            button.btn.btn-success(type="submit") Сохранение

            pre {{ bouquet }}